:root {
  --system-greysg-l-1: rgba(142, 142, 147, 1);
  --headline-l-font-family: "Pretendard", Helvetica;
  --headline-l-font-weight: 700;
  --headline-l-font-size: 40px;
  --headline-l-letter-spacing: 0px;
  --headline-l-line-height: normal;
  --headline-l-font-style: normal;
  --title-l-font-family: "Pretendard", Helvetica;
  --title-l-font-weight: 700;
  --title-l-font-size: 24px;
  --title-l-letter-spacing: 0px;
  --title-l-line-height: normal;
  --title-l-font-style: normal;
  --s-body-l-font-family: "Pretendard", Helvetica;
  --s-body-l-font-weight: 700;
  --s-body-l-font-size: 23px;
  --s-body-l-letter-spacing: 0px;
  --s-body-l-line-height: normal;
  --s-body-l-font-style: normal;
  --s-body-m-font-family: "Pretendard", Helvetica;
  --s-body-m-font-weight: 700;
  --s-body-m-font-size: 20px;
  --s-body-m-letter-spacing: 0px;
  --s-body-m-line-height: normal;
  --s-body-m-font-style: normal;
  --s-body-s-font-family: "Pretendard", Helvetica;
  --s-body-s-font-weight: 400;
  --s-body-s-font-size: 14px;
  --s-body-s-letter-spacing: 0px;
  --s-body-s-line-height: normal;
  --s-body-s-font-style: normal;
  --body-l-font-family: "Pretendard", Helvetica;
  --body-l-font-weight: 700;
  --body-l-font-size: 33px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: normal;
  --body-l-font-style: normal;
  --body-m-font-family: "Pretendard", Helvetica;
  --body-m-font-weight: 700;
  --body-m-font-size: 26px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: normal;
  --body-m-font-style: normal;
  --body-s-font-family: "Pretendard", Helvetica;
  --body-s-font-weight: 500;
  --body-s-font-size: 20px;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: normal;
  --body-s-font-style: normal;
  --holder-font-family: "Pretendard", Helvetica;
  --holder-font-weight: 400;
  --holder-font-size: 16px;
  --holder-letter-spacing: 0px;
  --holder-line-height: normal;
  --holder-font-style: normal;
  --button-m-font-family: "Pretendard", Helvetica;
  --button-m-font-weight: 700;
  --button-m-font-size: 16px;
  --button-m-letter-spacing: 0px;
  --button-m-line-height: normal;
  --button-m-font-style: normal;
  --button-s-font-family: "Pretendard", Helvetica;
  --button-s-font-weight: 400;
  --button-s-font-size: 14px;
  --button-s-letter-spacing: 0px;
  --button-s-line-height: normal;
  --button-s-font-style: normal;
  --caption-font-family: "Pretendard", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 14px;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --caption-font-style: normal;
  --s-body-caption-font-family: "Pretendard", Helvetica;
  --s-body-caption-font-weight: 400;
  --s-body-caption-font-size: 10px;
  --s-body-caption-letter-spacing: 0px;
  --s-body-caption-line-height: normal;
  --s-body-caption-font-style: normal;
}
